*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #acacac;
    
}


@media (max-width: 600px) {
  body {
    width: 100%;
    font-size: 14px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  body {
    width: 100%;
    font-size: 16px;
  }
}

@media (min-width: 1025px) {
  body {
    width: 100%;
    font-size: 18px;
  }
}

@media (max-width: 768px)
{
  
    .userjason, .userjasonpagein {
        padding: 20px;
        border-radius: 20px;
        margin: 30px 58px;
        background-color: white;
        width: 400px;
        height: 450px;
        display: inline-block;
      }
  
}

#button1 {
background:white;
padding: 8px 30px;
border-radius: 5px;
border: 2px solid purple;
font-size: 15px;
margin: 20px 33px;
transition-duration: .25s;
color: purple;

}

#button1:hover {
    transform:scale(1.15);
    box-shadow:0 0 10px rgba(0,0,0,5);
}

#button2 {
    background:purple;
    padding: 8px 30px;
    border-radius: 5px;
    border: 2px solid purple;
    font-size: 15px;
    margin: 20px 20px;
    transition-duration: .25s;
    color: white;
    
    }
    
    #button2:hover {
        transform:scale(1.15);
        box-shadow:0 0 10px rgba(0,0,0,5);
    }


.userjason{
padding: 20px;
border-radius: 20px;
margin:40px 550px;
background-color: white;
width: 400px;
height: 450px;
display: inline-block;
}


.center {
  display: block;
  top: 10;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.userjason img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.userjason div {
    display: inline-block;
    vertical-align: top;
    margin-left: -18px;
    text-align: center;
}

.userjason div h1{
    margin-bottom: 10px;
    background-color: white;
    color: rgb(92, 11, 92);
}

.userjason div p {
    margin-bottom: 5px;
    font-size: 20px;
    background-color: white;
    color: rgb(92, 11, 92);
}

.userjason div button{
    background-color: white;
}

.p1pp {
    font-size: 15px;
    padding: 5px;
    background-color:#b6dfe9;
    margin: 10px 10px 10px 138px;
    text-align: center;
    color: purple;
    width: 80px;
    border-radius: 10px;
}
.userjason div p2 {
    margin-bottom: 5px;
    font-size: 20px;
    background-color: white;
    color: rgba(92, 11, 92, 0.532);
    text-align: center;
    display: inline-block;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 0px 0px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  

.fa-google {
    background-color: white;
    color: rgb(92, 11, 92);
  }
  .fa-instagram {
    background-color: white;
    color: rgb(92, 11, 92);
  }
  .fa-linkedin {
    background-color: white;
    color: rgb(92, 11, 92);
  }
  .fa-facebook {
    background-color: white;
    color: rgb(92, 11, 92);
  }




  .userjasonpagein{
    padding: 10px;
    border-radius: 20px;
    margin:40px 550px;
    background-color: white;
    width: 400px;
    height: 400px;
    /* display: inline-block; */
    }


    .userjasonpagein a img{
      object-fit: cover;
          height: 90px;
          width: 114px;
          background: none;
          border-radius: 0;
              margin: 14px -244px 0px 129px;
    }

  .userjasonpagein img {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    object-fit: cover;
    /* margin-left: 600px; */
}

.userjasonpagein div p1{
    
  position: absolute;
    margin-left: 108px;
    object-fit: cover;
    margin-top: -66px;
    padding-left: 15px;
    font-size: 15px;
    background-color: white;
    color: rgb(92, 11, 92);

}

.userjasonpagein div p12{
    
  position: absolute;
    margin-left: 108px;
    object-fit: cover;
    margin-top: -48px;
    padding-left: 15px;
    font-size: 15px;
    background-color: white;
    color: rgb(92, 11, 92);

}

.userjasonpagein div p2{
    
  position: absolute;
    margin-left: 170px;
    object-fit: cover;
    margin-top: -66px;
    padding-left: 15px;
    font-size: 15px;
    background-color: white;
    color: rgb(92, 11, 92);

}

.userjasonpagein div p22{
    
    position: absolute;
    margin-left: 170px;
    object-fit: cover;
    margin-top: -48px;
    padding-left: 15px;
    font-size: 15px;
    background-color: white;
    color: rgb(92, 11, 92);

}

.userjasonpagein div p3{
    
  position: absolute;
    margin-left: 244px;
    object-fit: cover;
    margin-top: -66px;
    padding-left: 15px;
    font-size: 15px;
    background-color: white;
    color: rgb(92, 11, 92);

}

.userjasonpagein div p32{
    
  position: absolute;
    margin-left: 244px;
    object-fit: cover;
    margin-top: -48px;
    padding-left: 15px;
    font-size: 15px;
    background-color: white;
    color: rgb(92, 11, 92);

}

.userjasonpagein div h1{
    
    margin-left: 10px;
    font-size: 18px;
    background-color: white;
    color: rgb(92, 11, 92);

}

.userjasonpagein div h1 p{

  font-size: 14px;
  font-weight: normal;
  background-color: white;
  color: rgba(92, 11, 92, 0.532);

}

.userjasonpagein div h1 p4{

  font-size: 14px;
  background-color: white;
  color: rgb(92, 11, 92);
}

.userjasonpagein div p5{

  padding-left: 10px ;
  object-fit: cover;
  font-size: 14px;
  font-weight: normal;
  background-color: white;
  color: rgba(92, 11, 92, 0.532);

}